<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">
	
	<bean id="ccdc" class="com.alipay.zdal.client.config.bean.ZdalAppBean">
		<property name="appName" value="ccdc" />
		<property name="dbmode" value="dev" />
		<property name="idcName" value="gz00" />
		<property name="appDataSourceList">
			<list>
				<ref bean="atom001" />
				<ref bean="addp_tddl_ds"/>
			</list>
		</property>
	</bean>
	
	
	<!-- ATOM  -->
	<bean id="atom001" class="com.alipay.zdal.client.config.bean.AppDataSourceBean">
		<property name="appDataSourceName" value="atom001" />
		<property name="dataBaseType" value="ORACLE" />
		<property name="configType" value="ATOM" />
		<property name="zoneError" value="LOG" />
		<property name="zoneDSSet" >
			<set>
				<value>gz00b</value>
			</set>
		</property>
		<property name="physicalDataSourceSet">
			<set>
				<ref bean="addpDataSource02"/>
			</set>
		</property>
	</bean>
	
	<!-- SHARD GROUP  -->
	<bean id="addp_tddl_ds" class="com.alipay.zdal.client.config.bean.AppDataSourceBean">
		<property name="appDataSourceName" value="addp_tddl_ds" />
		<property name="dataBaseType" value="MYSQL" />
		<property name="configType" value="SHARDGROUP" />
		<property name="zoneError" value="LOG" />
		<property name="zoneDSSet" >
			<set>
				<value>gz00b</value>
			</set>
		</property>
		<property name="appRule" ref="sellrDsRule" />
		<property name="groupDataSourceRuleMap">
			<map>
				<entry key="group_0" value="addpDataSource02:r10w0p0,addpDataSource00:r10w0p1" />
				<entry key="group_1" value="addpDataSource08:r10w0p0,addpDataSource06:r10w0p1" />
				<entry key="group_2" value="addpDataSource04:r10w0p0,addpDataSource01:r10w0p1" />
				<entry key="group_3" value="addpDataSource09:r10w0p0,addpDataSource07:r10w0p1" />
			</map>
		</property>
		<!-- <property name="failOverGroupRuleMap">
			
		</property> -->
		<property name="physicalDataSourceSet">
			<set>
				<ref bean="addpDataSource02"/>
			</set>
		</property>
	</bean>
	
	<bean id="addpDataSource02" class="com.alipay.zdal.client.config.bean.PhysicalDataSourceBean" >
		<property name="name" value="addpDataSource02" />
		<property name="jdbcUrl" value="jdbc:mysql://myccdc1.devdb.alipay.net:3306/ccdcdb00" />
	    <property name="userName" value="ccdc" />
	    <property name="password" value="-7cda29b2eef25d0e" />
	    <property name="minConn" value="4" />
	    <property name="maxConn" value="10" />
	    <property name="blockingTimeoutMillis" value="500" />
	    <property name="idleTimeoutMinutes" value="30" />
	    <property name="preparedStatementCacheSize" value="0" />
	    <property name="queryTimeout" value="6" />
	    <property name="maxReadThreshold" value="100" />
	    <property name="maxWriteThreshold" value="100" />
		<property name="logicDbNameSet">
			<set>
				<value>addpDataSource02</value>
			</set>
		</property>
		<property name="connectionProperties" ref="connnectionProperties" />
	</bean>
	
    <bean id="connnectionProperties" class="org.springframework.beans.factory.config.MapFactoryBean">  
      <property name="sourceMap">  
          <map>  
            <entry key="connectTimeout" value="500"/>  
            <entry key="autoReconnect" value="true"/>  
            <entry key="initialTimeout" value="1"/>  
            <entry key="maxReconnects" value="2"/> 
            <entry key="socketTimeout" value="5000"/>
            <entry key="failOverReadOnly" value="false"/> 
          </map>  
      </property>  
    </bean>  
</beans>